<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >
<head>
  <title>HtmlUnit Integration Example Show</title>
</head>
<body>
<main>
  <article>
    <h1>HtmlUnit Integration Example Show</h1>
    <form id="messageForm" action="/messages/" th:object="${messageForm}" method="get" th:action="@{/messages/__${id}__}">
      <div><a href="/messages/">Messages</a></div>

      <label for="summary">Summary</label>
      <p id="summary" th:text="*{summary}" />
  
      <label for="text">Message</label>
      <p id="text" th:text="*{text}" />
  
    </form>
  </article>
</main>
</body>
</html>
